.about-owner {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.about-owner__list {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.about-owner__item {
  margin-bottom: 13px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.about-owner__item:last-child {
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-right: 79px;
  }
}

.about-owner__label-email::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  top: 16px;
  right: 35px;
  background: url("../img/pseudo-img/email-icon.svg");

  @media (min-width: @tablet-width) {
    top: 19px;
    right: 44px;
  }

  @media (min-width: @desktop-width) {
    top: 21px;
    right: 18px;
  }
}

.about-owner__input-email:focus + .about-owner__label-email::before {
  background: url("../img/pseudo-img/email-icon-green.svg") no-repeat;
  right: 34px;

  @media (min-width: @tablet-width) {
    right: 44px;
    top: 18px;
  }

  @media (min-width: @desktop-width) {
    right: 17px;
    top: 21px;
  }
}

.about-owner__label-tel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 33px;
  background: url("../img/pseudo-img/phone-icon.svg");

  @media (min-width: @tablet-width) {
    top: 15px;
    right: 44px;
  }

  @media (min-width: @desktop-width) {
    top: 18px;
    right: 18px;
  }
}

.about-owner__input-tel:focus + .about-owner__label-tel::before {
  background: url("../img/pseudo-img/phone-icon-green.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: 16px;
  }

  @media (min-width: @desktop-width) {
    top: 18px;
  }
}

.about-owner__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 49px;
  margin-bottom: 35px;
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    margin-top: 74px;
    margin-left: 0;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 28px;
    margin-bottom: 77px;
  }
}

.about-owner__title::before {
  content: "";
  position: absolute;
  width: 99px;
  height: 2px;
  top: 13px;
  right: -20px;
  background: @button-green;

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: 22px;
    left: -69px;
    background: @button-green;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    top: 24px;
    left: -110px;
    background: @button-green;
  }
}

.about-owner__title::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 145px;
    height: 2px;
    top: 23px;
    right: -187px;
    background: @button-green;
  }

  @media (min-width: @desktop-width) {
    width: 778px;
    top: 24px;
    right: -817px;
    background: @button-green;
  }
}

.about-owner__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 1px;
  }
}

.about-owner__label-email {
  float: left;
  margin-top: 12px;

  @media (min-width: @desktop-width) {
    float: left;
    margin-top: 10px;
  }
}

.about-owner__label-tel {
  float: left;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    float: left;
    margin-top: 10px;
    margin-left: -85px;
  }
}

.about-owner__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  width: 213px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.about-owner__input-email {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 44px;
  margin-top: -1px;
  width: 218px;
  margin-left: 12px;
  border: 1px solid @border-grey2;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 553px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 22px;
    margin-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
    padding-top: 8px;
    margin-left: 20px;
    margin-top: 3px;
    height: 49px;
  }
}

.about-owner__input-email:hover {
  border: 1px solid @light-grey;
}

.about-owner__input-email:focus {
  outline: 0;
  border: 2px solid @special-dark-grey;
}

.about-owner__input-email:invalid:not(:placeholder-shown) {
  border: 1px solid @invalid-red;
}

.about-owner__input-email:invalid:not(:placeholder-shown) + .owner__label-email::before {
  background: url("../img/pseudo-img/email-icon-red.svg") no-repeat;
  right: 34px;

  @media (min-width: @tablet-width) {
    right: 44px;
    top: 20px;
  }

  @media (min-width: @desktop-width) {
    right: 17px;
  }
}

.about-owner__input-tel:invalid:not(:placeholder-shown) + .about-owner__label-tel::before {
  background: url("../img/pseudo-img/phone-icon-red.svg") no-repeat;
  right: 34px;

  @media (min-width: @tablet-width) {
    right: 44px;
    top: 18px;
  }

  @media (min-width: @desktop-width) {
    right: 17px;
    top: 18px;
  }
}

.about-owner__input-tel {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 14px;
  margin-left: 9px;
  margin-top: 2px;
  border: 1px solid @border-grey2;
  box-sizing: border-box;
  width: 204px;
  height: 44px;

  @media (min-width: @tablet-width) {
    padding-left: 19px;
    width: 535px;
    margin-left: 15px;
    padding-top: 9px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 472px;
    margin-top: 2px;
    margin-right: 1px;
    height: 49px;
  }
}

.about-owner__input-tel:hover {
  border: 1px solid @light-grey;
}

.about-owner__input-tel:focus {
  outline: 0;
  border: 2px solid @special-dark-grey;
}

