.about-owner__item {
  margin-bottom: 13px;
}

.about-owner__item:last-child {
  margin-bottom: 0;
}

.about-owner__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-top: 45px;
  margin-bottom: 35px;
}

.owner__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.owner__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  width: 213px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.owner__input-email {
  width: 219px;
  margin-left: 11px;
}

.owner__input-tel {
  width: 204px;
  margin-left: 8px;
}
