.cat-features {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
    margin: 0;
  }
}

.cat-features__list {
  width: 300px;
  margin: 0 auto 46px auto;

  @media (min-width: @tablet-width) {
    width: 660px;
  }
}

.cat-features__item {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 21px;
  }
}

.cat-features__item:last-child {
  margin-bottom: 0;
}

.features__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 2px;
  }
}

.features__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  border: 1px solid @border-grey2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}


.features__input:hover {
  border: 1px solid @light-grey;
}

.features__input:focus {
  outline: 0;
  border: 2px solid @special-dark-grey;
}

.features__input:valid {
  border: 1px solid @border-grey2;
}

.features__input:invalid:not(:placeholder-shown) {
  border: 1px solid @invalid-red;
}

.features__input-name {
  width: 211px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 12px;
  margin-left: 11px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 18px;
    width: 545px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 18px;
    width: 483px;
  }
}

.features__input-weight {
  width: 184px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 14px;
  margin-left: 13px;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    padding-left: 19px;
    padding-top: 9px;
    width: 513px;
  }

  @media (min-width: @desktop-width) {
    width: 454px;
  }
}

.features__input-age {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 14px;
  margin-left: 12px;
  width: 153px;
  margin-top: -1px;

  @media (min-width: @tablet-width) {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 18px;
    width: 474px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 15px;
    width: 417px;
  }
}
