.cat-features__list {
  margin-bottom: 46px;
}

.cat-features__item {
  margin-bottom: 13px;
}

.cat-features__item:last-child {
  margin-bottom: 0;
}

.features__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.features__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.features__input-name {
  width: 213px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-left: 13px;
}

.features__input-weight {
  width: 176px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 15px;
  margin-left: 30px;
}

.features__input-age {
  width: 157px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 15px;
  margin-left: 12px;
}
