.cooperation-text-info {
  display: flex;
}

.catalog-text-info {
  background: @basic-grey;
}

.cooperation__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 26px;
}

.cooperation__address-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-top: 28px;
  padding-bottom: 26px;
}

