.extra-goods__item {
  margin-bottom: 41px;
}

.extra-goods__item:nth-child(4) {
  margin-bottom: 62px;
}

.extra-goods__item-all {
  background: url("../img/background-imgs/catalog-cat.jpg") no-repeat;
  color: @white;
  width: 280px;
  margin-bottom: 35px;
}

.extra-goods__item-inner {
  display: flex;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
  margin-top: 13px;
  margin-bottom: 25px;
}

.extra-goods__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 49px;
}

.extra-goods__slogan {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra-goods__slogan-all {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 186px 51px 43px 58px;
}
