.feeding-programm__wrapper {
  margin-bottom: 22px;
  width: 370px;
}

.feeding-programm__header {
  background: url("../img/background-imgs/cat.jpg") no-repeat;
  background-size: cover;
}

.feeding-programm__title {
  color: @white;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding: 27px 36px 25px 35px;
}

.feeding-programm__slogan {
  color: @white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 29px;
  padding-left: 60px;
  padding-bottom: 164px;
}

.feeding-programm__button {
  display: flex;
  margin-top: 3px;
  width: 280px;
}

