.form-section {
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.form-section__form {
  @media (min-width: @tablet-width) {
    width: 630px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
  }
}

.form-section__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  width: 280px;
  margin: 28px auto 37px auto;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 629px;
    margin: 39px auto 54px auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;
    width: 1300px;
    margin-bottom: 56px;
  }
}

.form-section__title::before {
  content: "";
  width: 320px;
  height: 1px;
  background: @grey;
  position: absolute;
  top: -30px;
  left: -20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-section__title-form {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto 39px auto;
  width: 274px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 372px;
    margin-left: 0;
    margin-bottom: 67px;
  }
}

.sending-application-button {
  margin-top: 4px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 282px;
    font-size: 20px;
    line-height: 0px;
    padding-top: 26px;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form-section__just-for-cat {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
