.map--modal {
  display: none;
}

.map--acive {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    z-index: 101;
  }
}
