.necessary__title {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 12px;
    margin-right: 120px;
  }
}

.form__necessary {
  @media (min-width: @tablet-width) {
    width: 565px;
    display: flex;
    justify-content: space-between;
    margin: -30px auto 72px auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
