.page-footer {
  background: @basic-grey;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
    margin-top: -11px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.catalog-page-footer {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin-left: 0;
    margin-top: -42px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 0;
  }
}

.page-footer__wrapper {
  margin-top: -5px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: -49px auto 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -18px;
  }
}

.catalog-page-footer__wrapper {
  @media (min-width: @desktop-width) {
    margin-top: 38px;
  }
}

.page-footer__link-logo {
  display: block;
  text-align: center;
  padding-top: 41px;
  margin-top: 0;
  margin-left: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 61px;
    padding-bottom: 61px;
    margin-top: 0;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 1px;
    margin-left: 0;
    padding-top: 61px;
    padding-bottom: 50px;
  }
}

.page-footer__link-logo:hover {
  opacity: 0.8;
}

.page-footer__link-logo:active {
  opacity: 0.6;
}

.catalog-page-footer__link-logo {
  @media (min-width: @desktop-width) {
    padding-top: 64px;
  }
}

.form-page-footer__link-logo {
  @media (min-width: @tablet-width) {
    padding-top: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 64px;
  }
}

.social-list {
  position: relative;
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin: 40px auto 0 auto;

  @media (min-width: @tablet-width) {
    margin-top: 58px;
    margin-left: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 61px;
    margin-left: 15px;
  }
}

.catalog-social-list {
  @media (min-width: @desktop-width) {
    margin-top: 62px;
    margin-left: 15px;
  }
}

.form-social-list {
  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 61px;
  }
}

.social-list::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  top: -21px;
  left: -75px;
  background: @grey;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.social-list::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  top: 43px;
  left: -75px;
  background: @grey;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.social-list__item:last-child {
  @media (min-width: @tablet-width) {
    margin-top: -6px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -6px;
  }
}

.page-footer__copyright {
  display: flex;
  margin-top: 53px;
  justify-content: space-between;
  padding-bottom: 32px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-top: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.catalog-page-footer__copyright {
  margin-top: 46px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 62px;
  }
}

.form-page-footer__copyright {
  @media (min-width: @tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 61px;
  }
}

.page-footer__description-copyright {
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  margin-top: 0;
  display: block;

  @media (min-width: @tablet-width) {
    margin-right: 23px;
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 23px;
    margin-top: 5px;
  }
}

.copyright__description:active {
  opacity: 0.3;
}

.page-footer__link-copyright {
  display: flex;
  margin: -7px auto 0 auto;
  text-decoration: none;
  color: @special-dark-grey;
  width: 320px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-right: 31px;
    margin-top: 2px;
    width: 185px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-top: -2px;
  }
}

.page-footer__link-img-copyright {
  width: 27px;
  height: 34px;
  fill: @icon-grey;
  margin-top: -8px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-right: 0;
  }
}

.copyright__description:hover + .page-footer__link-img-copyright {
  fill: @button-green;
}

.copyright__description:active + .page-footer__link-img-copyright {
  fill: @button-green;
  opacity: 0.3;
}

.social-list__svg-vk {
  fill: @icon-grey;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-list__svg-vk:hover {
  fill: @button-green;
}

.social-list__svg-vk:active {
  fill: @button-green;
  opacity: 0.3;
}

.social-list__svg-fb {
  stroke: @icon-grey;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 32px;
  }
}

.social-list__svg-fb:hover {
  stroke: @button-green;
}

.social-list__svg-fb:active {
  stroke: @button-green;
  opacity: 0.3;
}

.social-list__svg-inst {
  fill: @icon-grey;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    margin-left: 5px;
  }
}

.social-list__svg-inst:hover {
  fill: @button-green;
}

.social-list__svg-inst:active {
  fill: @button-green;
  opacity: 0.3;
}

.form-page-footer {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: -10px auto 0 auto;
  }
}

.form-page-footer__wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}
