.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
  }
}

.page-header__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}
